<div class="page">
    <div class="container">
        <div>
            <img [src]=imageUrl>
        </div>
        <div class="letter-head-item">
            <p>
                TKP Pensioen BV<br />
                Europaweg 27<br />
                9723 AS Groningen<br />
            </p>
            <p>
                <strong>Elogio BV</strong><br />
                Eenkoorn 25<br />
                9751WJ Haren<br /><br />
                KvK-nummer: 72015500<br />
                BTW-nummer: NL858945599B01<br />
            </p>
        </div>

        <div class="invoice-head">
            <h1>Factuur</h1>
            <div class="invoice-head-details">
                <label>Factuurnummer :</label><span>2019.6</span>
                <label>Factuurdatum :</label><span>01-07-2019</span>
                <label>Vervaldatum :</label><span>31-07-2019</span>
                <label>Periode :</label><span>06-2019</span>
            </div>
        </div>

        <div class="invoice-content">
            <table class="table-main">
                <thead>
                    <tr>
                        <th>Omschrijving</th>
                        <th>Aantal uren</th>
                        <th>Tarief excl. BTW</th>
                        <th>BTW</th>
                        <th>Totaal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Senior DevOps Java/Fullstack engineer</td>
                        <td>115</td>
                        <td>&euro; 80,00</td>
                        <td>21&#37;</td>
                        <td>&euro; 9.200,-</td>
                    </tr>
                </tbody>
            </table>

            <table class="table-totals">
                <tbody>
                    <tr>
                        <td><b>Totaal Exclusief BTW:</b></td>
                        <td><b>&euro; 9.200,-</b></td>
                    </tr>
                    <tr>
                        <td>BTW (21&#37;)</td>
                        <td>&euro; 1.932,-</td>
                    </tr>
                    <tr>
                        <td><b>Totaal</b></td>
                        <td><b>&euro; 11.132,-</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <section class="footer-box">
                <article class="box">
                    <h3>IBAN-nummer:</h3>
                    NL37KNAB0741083701
                </article>
                <article class="box">
                    <h3>Factuurnummer:</h3>
                    <strong>2019.6</strong>
                </article>
                <article class="box">
                    <h3>Factuurbedrag:</h3>
                    <strong>&euro; 11.132,-</strong>
                </article>
            </section>
            <section class="text">Het openstaande bedrag van &euro; 11.132,- dient binnen 30 dagen overgemaakt te
                zijn op rekeningnummer
                NL37KNAB0741083701 onder vermelding van het factuurnummer 2019.6.
            </section>
        </div>
    </div>
</div>