<div class="page">
    <div class="container">
        <div>
            <img [src]=imageUrl>
        </div>
        <div class="letter-head-item">
            <p>
                {{invoiceData.contact.name}}<br />
                {{invoiceData.contact.address.street}}&nbsp;{{invoiceData.contact.address.number}}<br />
                {{invoiceData.contact.address.postalcode}}&nbsp;{{invoiceData.contact.address.city}}<br />
            </p>
            <p>
                <strong>{{invoiceData.administration.name}}</strong><br />
                {{invoiceData.administration.address.street}}&nbsp;{{invoiceData.administration.address.number}}<br />
                {{invoiceData.administration.address.postalcode}}&nbsp;{{invoiceData.administration.address.city}}<br /><br />
                KvK-nummer:&nbsp;{{invoiceData.administration.kvkNumber}}<br />
                BTW-nummer:&nbsp;{{invoiceData.administration.vatNumber}}<br />
            </p>
        </div>

        <div class="invoice-head">
            <h1>Factuur</h1>
            <div class="invoice-head-details">
                <label>Factuurnummer :</label><span>{{invoiceData.invoiceNumber}}</span>
                <label>Factuurdatum :</label><span>{{invoiceData.invoiceDate}}</span>
                <label>Vervaldatum :</label><span>{{invoiceData.invoiceDueDate}}</span>
                <label>Periode :</label><span>{{invoiceData.invoicePeriod}}</span>
            </div>
        </div>

        <div class="invoice-content">
            <table class="table-main">
                <thead>
                    <tr>
                        <th>Omschrijving</th>
                        <th>Aantal uren</th>
                        <th>Tarief excl. BTW</th>
                        <th>BTW</th>
                        <th>Totaal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of invoiceData.invoiceLines">
                        <td>{{item.description}}</td>
                        <td>{{item.quantity}}</td>
                        <td>&euro;&nbsp;{{item.amountInCents}}</td>
                        <td>{{item.vat_percentage}}&#37;</td>
                        <td>&euro;&nbsp;{{item.amountExcludingVat}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table-totals">
                <tbody>
                    <tr>
                        <td><b>Totaal Exclusief BTW:</b></td>
                        <td><b>&euro;&nbsp;{{invoiceData.invoiceTotalAmountExclVat}}</b></td>
                    </tr>
                    <tr>
                        <td>BTW&nbsp;(21&#37;)</td>
                        <td>&euro;&nbsp;{{invoiceData.invoiceTotalVatAmount}}</td>
                    </tr>
                    <tr>
                        <td><b>Totaal</b></td>
                        <td><b>&euro;&nbsp;{{invoiceData.invoiceTotalAmountInclVat}}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <section class="footer-box">
                <article class="box">
                    <h3>IBAN-nummer:</h3>
                    {{invoiceData.administration.iban}}
                </article>
                <article class="box">
                    <h3>Factuurnummer:</h3>
                    <strong>{{invoiceData.invoiceNumber}}</strong>
                </article>
                <article class="box">
                    <h3>Factuurbedrag:</h3>
                    <strong>&euro;&nbsp;{{invoiceData.invoiceTotalAmountInclVat}}</strong>
                </article>
            </section>
            <section class="text">Het openstaande bedrag van &euro; {{invoiceData.invoiceTotalAmountInclVat}} dient
                binnen {{invoiceData.contact.paymentDetails.paymentTermInDays}} dagen overgemaakt te
                zijn op rekeningnummer<br />
                {{invoiceData.administration.iban}} onder vermelding van het factuurnummer
                {{invoiceData.invoiceNumber}}.
            </section>
        </div>
    </div>
</div>